.unitins-student{
    color: white;
    background-color: rgba(0,51,122,1);
    border-color: rgba(0,51,122,1);
    border-radius: 20px;
    border-width: 1px;
    border: solid;
    width: 220px;
    height: 40px;
    font-weight: bold;    
    cursor: pointer;
    transition: 2s;
    margin: 18px;

    
}
.unitins-student:hover{
    color: rgba(0,29,108,1);
    background-color: white;
    border-color: rgb(17, 21, 29);
    border-width: 1px;}



    a:link{
        text-decoration: none;
    }




.unitins-protocol{
    color: white;
    background-color: rgba(0,51,122,1);
    border-color: rgba(0,51,122,1);
    border-radius: 20px;
    border-width: 1px;
    border: solid;
    width: 220px;
    height: 40px;
    font-weight: bold;    
    cursor: pointer;
    transition: 2s;
    margin: 18px;
    display: inline-block;
    
   
}

.unitins-protocol:hover{
    color: rgba(0,29,108,1);
    background-color: white;
    border-color: rgb(17, 21, 29);
    border-width: 1px;}



.unitins-academic{
    color: white;
    background-color: rgba(0,51,122,1);
    border-color: rgba(0,51,122,1);
    border-radius: 20px;
    border-width: 1px;
    border: solid;
    width: 220px;
    height: 40px;
    font-weight: bold;    
    cursor: pointer;
    transition: 2s;
    margin: 18px;
    text-align: center;
    
    
}
.unitins-academic:hover{
    color: rgba(0,29,108,1);
    background-color: white;
    border-color: rgb(17, 21, 29);
    border-width: 1px;}



.unitins-library{
    color: white;
    background-color: rgba(0,51,122,1);
    border-color: rgba(0,51,122,1);
    border-radius: 20px;
    border-width: 1px;
    border: solid;
    width: 220px;
    height: 40px;
    font-weight: bold;    
    cursor: pointer;
    transition: 2s;
    margin: 18px;
    text-align: center;
   
    
}
.unitins-library:hover{
    color: rgba(0,29,108,1);
    background-color: white;
    border-color: rgb(17, 21, 29);
    border-width: 1px;
}



.unitins-events{
    color: white;
    background-color: rgba(0,51,122,1);
    border-color: rgba(0,51,122,1);
    border-radius: 20px;
    border-width: 1px;
    border: solid;
    width: 220px;
    height: 40px;
    font-weight: bold;    
    cursor: pointer;
    transition: 2s;
    margin: 18px;
    box-align: center;
   
    
}
.unitins-events:hover{
    color: rgba(0,29,108,1);
    background-color: white;
    border-color: rgb(17, 21, 29);
    border-width: 1px;
}

div {
    background-color: white;
    width: 1300px;
    margin: 0 auto;
    text-align: center;
}