.all{
    background-color: #123123;
    height: 2000px;
    width: 1100px;
    margin-left: 400px;
    margin-right: 400px;
}

.img{
    background-image: url("jp_topoFundo.jpg");
    margin-left: 30px;
    margin-right: 30px;
    height: 160px;
    display: flex;
    align-items: center;

}

.logo{
    background-color: none;
    height: 50px;
    width: 100px;
    margin-left: 20px;
    margin-bottom: 110px;
}

.fraselogo{
    background-image: url("jp_menuFundo.jpg");
    height: 30px;
    width: 500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-left: 300px;
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 15px;
    border: white 1px solid;
    border-top-left-radius: 15px;
}

.titulo{
    background-color: #550000;
    color: white;
    text-align: center;
    margin-left: 30px;
    font-family: 'MinhaFonte';
    font-size: 80px;
    margin-right: 30px;
    margin-bottom: 0px;
}

@font-face {
    font-family: 'MinhaFonte';
    src: url('jp_fontJurassicPark.ttf');
}

.filme1{
    background-color: white;
    height: 300px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.Divfilme1{
    background-color: red;
    height: 100px;
    margin-left: 30px;
    margin-bottom: 100px;
    width:100px;
}

.imagemfilme1{
    border: red solid 3px;
}

.texto{
    background-color: none;
    margin-left: 70px;
    margin-bottom: 10px;
}

.filme2{
    background-color: #555555;
    height: 300px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
}

.texto2{
    background-color: none;
    height: 200px;
    width: 700px;
    margin-left: 30px;
    margin-top: 40px;
    color: white;
}

.Divfilme2{
    background-color: red;
    height: 100px;
    margin-left: 90px;
    margin-bottom: 100px;
    width: 100px;
    margin-top: 50px;
}

.Imagemfilme2{
    border: yellow solid 3px;
}

.selva{
    background-image: url("jp_fundoSelva.jpg");
    margin-left: 30px;
    margin-right: 30px;
    height: 500px;
    justify-content: center;
    display: flex;
    
}

.tabela{
    color: white;
}

.Divtabela{
    margin-top: 250px;
}

th{
    background-color:#333333;
    text-align: center;
}


